torch
torchvision
tqdm 
numpy 
opencv-python 
Pillow 
matplotlib 
scikit-learn 
yolov5 # For loading YOLO weights, and other YOLO-related functionalities 
# albumentations # For data augmentations 
streamlit # Optional, for UI if Streamlit is used for inference 
seaborn # Optional, for visualizations